.section {
  max-width: 1280px;
  margin: 0 auto;
}

.slanted-border {
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
}

@media (min-width: 1024px) {
  .slanted-border {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
}